# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\скаченное потом удалить\lab2-ps-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
